
input {
    background: #fff;
    border: none;
    border-bottom: 1px solid black;
}

@media (min-width: 600px) {
    .modalInput {
        margin: 2vw auto;
        
        input {
            height: 2vw;;
            font-size: .9rem;
        }
    }
}

@media (max-width: 599px) {
    .modalInput {
        margin: 10vw auto;

        input {
            height: 5vw;
            font-size: .9rem;
        }
    }
}
